@font-face {
    font-family: monument;
    src: url(./MonumentExtended-Ultrabold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    background-color: #0F0D0D;
}

.page1{
    min-height: 100vh;
    width: 100%;
}

.nav{
    height: 58px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
}

.nav img{
    height: 26px;
}

.navpart2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navpart2 h4{
    text-transform: uppercase;
    font-size: 13px;
    font-family: monument;
}

.navpart2 h4:hover{
    color: red;
    cursor: pointer;
}
.navpart3 #circle{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.page1 h1{
    font-size: 8vw;
    font-family: PP mori;
    font-weight: 300px;
    margin-top: 12vw ;
    margin-left: 5vw;
    padding: 0 10px;
}

.page1 h2{
    font-size: 8vw;
    font-family: PP mori;
    font-weight: 300px;
    margin-left: 25vw;
    padding: 0 10px;
}

.page1 video{

    /* we can make video element center by this way but when we apply gsap animation vid element will not be center */
    /* width: 60%;
    margin-left: 20%; 
    margin-top:10vw
    */


    /* second way */
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}


/* Page 2 */

.page2{
    min-height: 90vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #434141;
}

.page2 h1{
    font-size: 7vw;
    font-weight: 500;
    font-family: PP mori;
    /* margin: 60px 0; */
    color: #111;
}

.page-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: PP mori;
}

.page2-left{
    width: 39%;
}

.page2-right{
    width: 24%;
}

.page2-left h2{
    font-size: 4vw;
    font-weight: 100;
    color: #111;
    line-height: 4vw;
}

.page2-right p{
    font-size: 1.5vw;
    font-weight: 300;
    color: #111;
}


.page2-right button{
    width: 100%;
    border:none;
    margin-top: 12px;
    border-radius: 50px;
    padding: 3px 0;
    background-color: #EDBFFF;
    cursor: pointer;
}

.page2-right button :hover{
   background-color: #111;
   color: white;
}

/* Page 3 */

.page3{
    min-height: 140vh;
    width: 100%;
    padding: 100px 5vw;
}